body {
    background-color: burlywood;
}
  
  a {
    margin-left: 600px;
    margin-right: 500px;
    margin-top: 300px;
    margin-bottom: 400px;
  }

  h1 {
    font-size: 20px;
    border  : 25px;
    background:coral  ;
    padding: 30px;
    width: 300px;
    height: 30px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 100px;
    text-align: center;
  }
  
  p {
    font-size: 18 px;
    color: black;
    background-color: cornflowerblue;
    border-radius: 25px;
    padding-left: 50px; 
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  figcaption {
    padding-left: 600px;
  }
  
  label {
    margin-left: 250px;
  }

  div {
    align-content: center;
    border: dotted 5px; 
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 25px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 18px;
    background-color: cadetblue;
  }

  img {
    margin-left: 375px; 
    margin-top: 100px;
  }

  h2 {
    border: 5px groove black;
    width: 300px;
    height: 150px;
    margin-left: 500px;
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
    padding-top: 100px;
  }

  h1 {
    font-size: 20px;
    border: 25px;
    background:coral;
    padding: 30px;
    width: 300px;
    height: 30px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 100px;
    text-align: center;
  }