 
body {
  background-image: url("../Lehdet.jpg");
  background-color: transparent;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  
}

.Lissu {
  width: 25%;
  height: 25%;
}



#header {
  background-color: black;
  padding: 40px;
  text-align: center;
  color:honeydew;
}

#nav {
  background-color:darkgray;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 30px;
  text-align: center;
}

#section {
  background-color: rgb(104, 97, 97);
  float:left;
  width: 70%;
  height: 1005px;
  text-align:center;
  

}

#article {
  background-color: rgb(42, 44, 44);
  float: left;
  padding-right: 695px; 
  padding-left:10px;
  height: 500px;
  color: azure;

}

#aside {
  background-color: whitesmoke;
  float: right;
  height: 970px;
  padding-left: 15px;
  padding-right: 15px;
 
}

footer {
  background-color: black;
  clear: both;
  padding: 40px;
  text-align: center;
  color: azure;
}

img {
  width: 40%;
  padding-top: 20px;
  padding-right: 20px;
}

a {
  margin-right: 50px;
}

#nav2 {
  float:left;
  background-color: gray;
  padding-top: 5px;
  height: 1000px;
  width: 30%;
}

li {
  margin-bottom: 8px;
}

ul {
  list-style-type: none;
}

a:hover {
  color: red;
}