 
body {
  background-color: black;
  color:white;
  
}

h1 {
  font-size: 20px;
}

p {
  font-size: 12px;
  color: green;
}

.perhe {
  background:black;
  color: white;
  border: 2px dotted fuchsia;
}
  

